<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        function browseCustomers() {
            showform('browse');
        }
    </script>
</head>
<body onload="browseCustomers()">
    <h1>Customers</h1>
    <div class="button-link">
    <a href="/">Return to home</a><br><br>
    </div>
    <div class="data-table" id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
            {% endif %}
        </table>
    </div><br><br>
    <div class="insert">
        <fieldset>
            <legend>Add customer: </legend>
            <form action="/customers">
                <label for="full_name">Full name: </label>
                <input type="text" id="full_name" name="full_name">
                <label for="phone_number">Phone number: </label>
                <input type="text" id="phone_number" name="phone_number">
                <label for="email_address">Email address: </label>
                <input type="text" id="email_address" name="email_address">
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </div>
</body>
</html>