<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <div class="data-table">
        <table>
            <tr>
                <th>customer_id</th>
                <th>full_name</th>
                <th>phone_number</th>
                <th>email</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Ned Stark</td>
                <td>000-111-2222</td>
                <td>lord0winterfell@yahoo.com</td>
            </tr>
        </table>
    </div>
    <div class="insert">
    <a href="/">Insert new</a>
    </div>
    <div class="button-link">
    <a href="/">Return to home</a>
    </div>
</body>
</html>