<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gemstones</title>
</head>
<body>
    <h1>Gemstones</h1>
    <div class="data-table">
        <table>
            <tr>
                <th>gem_id</th>
                <th>gem_name</th>
                <th>gem_price</th>
                <th>description</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Diamond</td>
                <td>1000.00</td>
                <td>Sizable, clear diamond</td>
            </tr>
        </table>
    </div>
    <div class="insert">
    <a href="/">Insert new</a>
    </div>
    <div class="button-link">
    <a href="/">Return to home</a>
    </div>
</body>
</html>