<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        function browseOrders() {
            showform('browse');
        }
    </script>
</head>
<body onload="browseOrders()">
    <h1>Orders</h1>
    <div class="button-link">
    <a href="/">Return to home</a><br><br>
    </div>
    <div class="data-table" id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
            {% endif %}
        </table>
    </div><br><br>
    <div id="insert">
        <form id="insertOrder" action="/orders" method="post">
            <legend><strong>Add Order</strong></legend>
            <fieldset>
                <label for="customer_id">Customer id:</label>
                <select id="customer_id" name="customer_id">
                    {% for customer in customer_ids %}
                    <option value="{{ customer['customer_id'] }}">{{ customer['customer_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="order_date_time">Order date time: </label>
                <input type="text" id="order_date_time" name="order_date_time" placeholder="" required>
            </fieldset>
            <input type="submit" value="Add Order" name="Add_Order" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseOrders()">
        </form>
    </div><br><br>
    <div class="update">
        <fieldset>
            <legend>Edit Order</legend>
            <form id="editOrder" action="/orders" method="post">
                <label for="order_id">Order id:</label>
                <select id="order_id" name="order_id">
                    {% for order in order_ids %}
                    <option value="{{ order['order_id'] }}">{{ order['order_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="customer_id_update">Customer id:</label>
                <select id="customer_id_update" name="customer_id_update">
                    {% for customer in customer_ids %}
                    <option value="{{ customer['customer_id'] }}">{{ customer['customer_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="order_date_time_update">Order date time: </label>
                <input type="text" id="order_date_time_update" name="order_date_time_update" placeholder="">
                <input type="submit" value="Edit Order" name="Edit_Order" class="btn btn-primary" style="margin:.5rem;">
                <a href='/orders'><input class="btn" type="button" value="cancel"></a>
            </form>
        </fieldset>
    </div><br><br>
    <div class="delete">
        <fieldset>
            <legend>Delete Order</legend>
            <form id="deleteOrder" action="/orders" method="post">
                <label for="order_id_delete">Order id:</label>
                <select id="order_id_delete" name="order_id_delete">
                    {% for order in order_ids %}
                    <option value="{{ order['order_id'] }}">{{ order['order_id'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Delete Order" name="Delete_Order" class="btn btn-primary" style="margin:.5rem;">
                <a href='/orders'><input class="btn" type="button" value="cancel"></a>
            </form>
        </fieldset>
    </div>
</body>
</html>