<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <div class="data-table">
        <table>
            <tr>
                <th>order_id</th>
                <th>customer_id</th>
                <th>order_date_time</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>2022-06-08 08:50:02.000</td>
                <td>edit</td>
                <td>delete</td>
            </tr>
        </table>
    </div>
    <div class="insert">
    <a href="/">Insert new</a>
    </div>
    <div class="button-link">
    <a href="/">Return to home</a>
    </div>
</body>
</html>