<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders Has Products</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        function browseOrdershasProducts() {
            showform('browse');
        }
    </script>
</head>
<body onload="browseOrdershasProducts()">
    <h1>Orders Has Products</h1>
    <div class="button-link">
    <a href="/">Return to home</a><br><br>
    </div>
    <div class="data-table" id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            {% endif %}
        </table>
    </div><br><br>
    <div id="insert">
        <form id="insertOrderhasProduct" action="/orders_has_products" method="post">
            <legend><strong>Add Order has Product</strong></legend>
            <fieldset>
                <label for="order_id">Order id:</label>
                <select id="order_id" name="order_id">
                    {% for order in order_ids %}
                    <option value="{{ order['order_id'] }}">{{ order['order_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="product_id">Product id:</label>
                <select id="product_id" name="product_id">
                    {% for product in product_ids %}
                    <option value="{{ product['product_id'] }}">{{ product['product_id'] }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <input type="submit" value="Add Order has Product" name="Add_Order_has_Product" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseOrdershasProducts()">
        </form>
    </div><br><br>
    <div class="update">
        <fieldset>
            <legend>Edit Order has Product: </legend>
            <form id="editOrderhasProduct" action="/orders_has_products" method="post">
                <label for="order_has_product_id">Order has Product id:</label>
                <select id="order_has_product_id" name="order_has_product_id">
                    {% for order_has_product in order_has_product_ids %}
                    <option value="{{ order_has_product['order_has_product_id'] }}">{{ order_has_product['order_has_product_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="order_id_update">Order id:</label>
                <select id="order_id_update" name="order_id_update">
                    {% for order in order_ids %}
                    <option value="{{ order['order_id'] }}">{{ order['order_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="product_id_update">Product id:</label>
                <select id="product_id_update" name="product_id_update">
                    {% for product in product_ids %}
                    <option value="{{ product['product_id'] }}">{{ product['product_id'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Edit Order has Product" name="Edit_Order_has_Product" class="btn btn-primary" style="margin:.5rem;">
                <a href='/orders_has_products'><input class="btn" type="button" value="cancel"></a>
            </form>
        </fieldset>
    </div><br><br>
    <div class="delete">
        <fieldset>
            <legend>Delete Order has Product</legend>
            <form id="deleteOrderhasProduct" action="/orders_has_products" method="post">
                <label for="order_has_product_id_delete">Order has Product id:</label>
                <select id="order_has_product_id_delete" name="order_has_product_id_delete">
                    {% for order_has_product in order_has_product_ids %}
                    <option value="{{ order_has_product['order_has_product_id'] }}">{{ order_has_product['order_has_product_id'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Delete Order has Product" name="Delete_Order_has_Product" class="btn btn-primary" style="margin:.5rem;">
                <a href='/orders_has_products'><input class="btn" type="button" value="cancel"></a>
            </form>
        </fieldset>
    </div>
</body>
</html>