<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        function browseOrders() {
            showform('browse');
        }
    </script>
</head>
<body onload="browseOrders()">
    <h1>Orders</h1>
    <div class="button-link">
    <a href="/">Return to home</a><br><br>
    </div>
    <div class="data-table" id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
            {% endif %}
        </table>
    </div><br><br>
    <div id="insert">
        <form id="insertOrder" action="/orders" method="post">
            <legend><strong>Add Order</strong></legend>
            <fieldset>
                <label for="customer_id">Customer id:</label>
                <select class="form-control" id="customer_id" name="customer_id" pattern="[0-4]{1}" placeholder="" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <label for="order_date_time">Order date time: </label>
                <input type="text" id="order_date_time" name="order_date_time" placeholder="" required>
            </fieldset>
            <input type="submit" value="Add Order" name="Add_Order" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseOrders()">
        </form>
    </div><br><br>
    <div class="update">
        <fieldset>
            <legend>Edit order: </legend>
            <form action="/orders">
                <label for="order_id">Order id:</label>
                <select name="Order_id" id="Order_id">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <label for="customer_id_update">Customer id:</label>
                <select name="customer_id_update" id="customer_id_update">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <label for="order_date_time_update">Order date time: </label>
                <input type="text" id="order_date_time_update" name="order_date_time_update">
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </div>
</body>
</html>