<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ore</title>
</head>
<body>
    <h1>Ore</h1>
    <div class="data-table">
        <table>
            <tr>
                <th>ore_id</th>
                <th>ore_name</th>
                <th>price_per_ore</th>
                <th>description</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Iron</td>
                <td>75.00</td>
                <td>Strong, mid-priced</td>
            </tr>
        </table>
    </div>
    <div class="insert">
    <a href="/">Insert new</a>
    </div>
    <div class="button-link">
    <a href="/">Return to home</a>
    </div>
</body>
</html>