<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ore</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        function browseOre() {
            showform('browse');
        }
    </script>
</head>
<body onload="browseOre()">
    <h1>Ore</h1>
    <div class="button-link">
    <a href="/">Return to home</a><br><br>
    </div>
    <div class="data-table" id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
            {% endif %}
        </table>
    </div><br><br>
</body>
</html>