<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product_Types</title>
</head>
<body>
    <h1>Product_Types</h1>
    <div class="data-table">
        <table>
            <tr>
                <th>product_type_id</th>
                <th>product_type_name</th>
                <th>product_type_price</th>
                <th>num_ore_req</th>
                <th>description</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Greatsword</td>
                <td>250.00</td>
                <td>6</td>
                <td>A two-handed greatsword for the strongest of warriors</td>
            </tr>
        </table>
    </div>
    <div class="insert">
    <a href="/">Insert new</a>
    </div>
    <div class="button-link">
    <a href="/">Return to home</a>
    </div>
</body>
</html>