<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <div class="data-table">
        <table>
            <tr>
                <th>product_id</th>
                <th>product_type_id</th>
                <th>ore_id</th>
                <th>gem_id</th>
                <th>num_gems</th>
                <th>product_name</th>
                <th>description</th>
                <th>edit</th>
                <th>delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>3</td>
                <td>2</td>
                <td>2</td>
                <td>Big Sword</td>
                <td>Steel greatsword with sapphires embedded in the hilt</td>
                <td>edit</td>
                <td>delete</td>
            </tr>
        </table>
    </div>
    <div class="insert">
    <a href="/">Insert new</a>
    </div>
    <div class="button-link">
    <a href="/">Return to home</a>
    </div>
</body>
</html>