<html>
<!-- Adapted from https://github.com/osu-cs340-ecampus/flask-starter-app -->
<head>
    <title>Products</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script>
        function browseProducts() {
            showform('browse');
        }
    </script>
</head>
<body onload="browseProducts()">
    <h1>Products</h1>
    <div class="button-link">
    <a href="/">Return to home</a><br><br>
    </div>
    <div class="data-table" id="browse">
        <table>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            {% for key in item.keys() %}
                            <td> {{item[key]}} </td> 
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            {% endif %}
        </table>
    </div>
    <p>*Prices will be calculated when populated with real data</p><br><br>
    <div id="insert">
        <form id="insertProduct" action="/products" method="post">
            <legend><strong>Add Product</strong></legend>
            <fieldset>
                <label for="product_type_id">Product type id:</label>
                <select id="product_type_id" name="product_type_id">
                    {% for product_type in product_type_ids %}
                    <option value="{{ product_type['product_type_id'] }}">{{ product_type['product_type_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="ore_id">Ore id:</label>
                <select id="ore_id" name="ore_id">
                    {% for ore in ore_ids %}
                    <option value="{{ ore['ore_id'] }}">{{ ore['ore_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="gem_id">Gem id:</label>
                <select id="gem_id" name="gem_id">
                    <option value="0">None</option>
                    {% for gem in gem_ids %}
                    <option value="{{ gem['gem_id'] }}">{{ gem['gem_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="num_gems">Num gems: </label>
                <input type="text" class="form-control" id="num_gems" name="num_gems" pattern="[A-Za-z0-9]{1,}" placeholder="0">
                <label for="product_name">Product name: </label>
                <input type="text" class="form-control" id="product_name" name="product_name" pattern="[A-Za-z0-9]{1,}" placeholder="" required>
                <label for="description">Description: </label>
                <input type="text" id="description" name="description" " placeholder="">
            </fieldset>
            <input type="submit" value="Add Product" name="Add_Product" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseProducts()">
        </form>
    </div><br><br>
    <div class="update">
        <fieldset>
            <legend>Edit Product</legend>
            <form id="editProduct" action="/products" method="post">
                <label for="product_id">Product id:</label>
                <select id="product_id" name="product_id">
                    {% for product in product_ids %}
                    <option value="{{ product['product_id'] }}">{{ product['product_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="product_type_id_update">Product type id:</label>
                <select id="product_type_id_update" name="product_type_id_update">
                    {% for product_type in product_type_ids %}
                    <option value="{{ product_type['product_type_id'] }}">{{ product_type['product_type_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="ore_id_update">Ore id:</label>
                <select id="ore_id_update" name="ore_id_update">
                    {% for ore in ore_ids %}
                    <option value="{{ ore['ore_id'] }}">{{ ore['ore_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="gem_id_update">Gem id:</label>
                <select id="gem_id_update" name="gem_id_update">
                    <option value="0">None</option>
                    {% for gem in gem_ids %}
                    <option value="{{ gem['gem_id'] }}">{{ gem['gem_id'] }}</option>
                    {% endfor %}
                </select>
                <label for="num_gems_update">Num gems: </label>
                <input type="text" id="num_gems_update" name="num_gems_update">
                <label for="product_name_update">Product name: </label>
                <input type="text" id="product_name_update" name="product_name_update">
                <label for="description_update">Description: </label>
                <input type="text" id="description_update" name="description_update">
                <input type="submit" value="Edit Product" name="Edit_Product" class="btn btn-primary" style="margin:.5rem;">
                <a href='/products'><input class="btn" type="button" value="cancel"></a>
            </form>
        </fieldset>
    </div><br><br>
    <div class="delete">
        <fieldset>
            <legend>Delete Product</legend>
            <form id="deleteProduct" action="/products" method="post">
                <label for="product_id_delete">Product id:</label>
                <select id="product_id_delete" name="product_id_delete">
                    {% for product in product_ids %}
                    <option value="{{ product['product_id'] }}">{{ product['product_id'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Delete Product" name="Delete_Product" class="btn btn-primary" style="margin:.5rem;">
                <a href='/products'><input class="btn" type="button" value="cancel"></a>
            </form>
        </fieldset>
    </div>
</body>
</html>